<h2 mat-dialog-title>Add new workload</h2>
<mat-dialog-content>
    <form name="newWorkload" class="example-form">
        <mat-form-field>
            <mat-select name="user" placeholder="User" [(ngModel)]="newWorkload.userId" required>
                <mat-option *ngFor="let user of users" [value]="user.id">
                    {{ user.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select name="project" placeholder="Project" [(ngModel)]="newWorkload.projectId" required>
                <mat-option *ngFor="let project of projects" [value]="project.id">
                    {{ project.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="hours" type="number" min="0" max="8" [(ngModel)]="newWorkload.hours"
                   placeholder="Hours" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="from" [(ngModel)]="newWorkload.from" [matDatepicker]="newFrom"
                   placeholder="Choose a date from" required>
            <mat-datepicker-toggle matSuffix [for]="newFrom"></mat-datepicker-toggle>
            <mat-datepicker #newFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="to" [(ngModel)]="newWorkload.to" [matDatepicker]="newTo"
                   placeholder="Choose a date to" required>
            <mat-datepicker-toggle matSuffix [for]="newTo"></mat-datepicker-toggle>
            <mat-datepicker #newTo></mat-datepicker>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="saveNewWorkload()">Save</button>
    <button mat-raised-button mat-dialog-close>Discard</button>
</mat-dialog-actions>


