<h2 md-dialog-title>Add new workload</h2>
<md-dialog-content>
    <form name="newWorkload" class="example-form">
        <md-select name="user" placeholder="User" [(ngModel)]="newWorkload.userId" required>
            <md-option *ngFor="let user of users" [value]="user.id">
                {{ user.name }}
            </md-option>
        </md-select>
        <md-select name="project" placeholder="Project" [(ngModel)]="newWorkload.projectId" required>
            <md-option *ngFor="let project of projects" [value]="project.id">
                {{ project.name }}
            </md-option>
        </md-select>
        <md-form-field>
            <input mdInput name="hours" type="number" min="0" max="8" [(ngModel)]="newWorkload.hours"
                   placeholder="Hours" required>
        </md-form-field>
        <md-form-field>
            <input mdInput name="from" [(ngModel)]="newWorkload.from" [mdDatepicker]="newFrom"
                   placeholder="Choose a date from" required>
            <md-datepicker-toggle mdSuffix [for]="newFrom"></md-datepicker-toggle>
            <md-datepicker #newFrom></md-datepicker>
        </md-form-field>
        <md-form-field>
            <input mdInput name="to" [(ngModel)]="newWorkload.to" [mdDatepicker]="newTo"
                   placeholder="Choose a date to" required>
            <md-datepicker-toggle mdSuffix [for]="newTo"></md-datepicker-toggle>
            <md-datepicker #newTo></md-datepicker>
        </md-form-field>
    </form>
</md-dialog-content>
<md-dialog-actions>
    <button md-raised-button color="primary" (click)="saveNewWorkload()">Save</button>
    <button md-raised-button md-dialog-close>Discard</button>
</md-dialog-actions>


