<mat-card>
    <div *ngIf="!editMode" class="projects-nav">
        <button mat-button *ngFor="let project of projects; index as i;" class="project-edit-btn"
                [ngStyle]="{'background': project.color}" (click)="editProject(i)">{{project.name}}</button>
        <button mat-raised-button class="project-edit-btn" (click)="addProject()">Add new project</button>
    </div>
    <form *ngIf="editMode">
        <mat-form-field>
            <input matInput [(ngModel)]="editingProject.name" name="projectName" placeholder="Project name" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="editingProject.shortName" name="projectShortName" placeholder="Short name" required />
        </mat-form-field>
        <mat-form-field class="color-input">
            <input matInput [(ngModel)]="editingProject.color" name="projectColor" placeholder="Color" required />
            <div class="color-input-example" [ngStyle]="{background: editingProject.color}"></div>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" (click)="saveProject(editingProject)">Save project</button>
            <button mat-raised-button (click)="cancelEdit()">Cancel</button>
            <button mat-raised-button color="warn" (click)="deleteProject(editingProject.id)">Delete</button>
        </div>
    </form>
</mat-card>

