.calendar {
    position: relative;
    max-width: 100%;
    padding-left: 150px;
    white-space: nowrap;
}

.calendar .calendar-side-bar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
    width: 150px;
    border-right: 1px solid #000;
}
.calendar .calendar-side-item {
    position: relative;
    height: 90px;
}

.calendar .calendar-item-title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.6rem;
}

.calendar .calendar-body {
    overflow-x: auto;
}
.calendar .calendar-days {

}
.calendar .calendar-day {
    display: inline-block;
    width: 100px;
    height: 60px;
    padding: 5px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    vertical-align: top;
    text-align: center;
}


.calendar .calendar-user {
    min-height: 90px;
}
.calendar .calendar-user-day {
    display: inline-block;
    width: 100px;
    min-height: 90px;
    padding: 5px 0;
    border-right: 1px solid #000;
    vertical-align: top;
    line-height: 80px;
}
.calendar .calendar-user-load {
    min-width: 30px;
    width: 100%;
    line-height: 10px;
    text-align: center;
}

.calendar .calendar-side-item:nth-child(even),
.calendar .calendar-user:nth-child(odd) .calendar-user-day{
    background: #f6f6f6;;
}
