<md-card>
    <div class="calendar">
        <div class="calendar-side-bar">
            <div *ngFor="let user of users" class="calendar-side-item">
                <div class="calendar-item-title">{{user.name}}</div>
            </div>
        </div>
        <div class="calendar-body">
            <div class="calendar-days">
                <div *ngFor="let day of daysToShow" class="calendar-day">
                    <div class="calendar-day-name">{{day.monthName}}</div>
                    <div class="calendar-day-date">{{day.date}}</div>
                    <div class="calendar-day-name">{{day.dayName}}</div>
                </div>
            </div>
            <div *ngFor="let user of users" class="calendar-user">
                <div *ngFor="let day of daysToShow" class="calendar-user-day">
                    <div class="calendar-day-body">
                        <div *ngFor="let load of day.workloads[user.id]" class="calendar-user-load"
                             [ngStyle]="{background: projObj[load.projectId].color, 'line-height': (load.hours * 10) + 'px'}"
                             title="{{projObj[load.projectId].name}}">
                            {{projObj[load.projectId].shortName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="calendar-footer">
            <button md-raised-button color="primary" (click)="loadPrevMonth()">
                Load previous
            </button>
            <button md-raised-button color="primary" (click)="loadNextMonth()">
                Load next
            </button>
        </div>
    </div>
</md-card>
<newWorkload (onAdded)="onWorkloadAdded($event)"></newWorkload>
