<md-card>
    <div class="calendar">
        <div class="calendar-side-bar">
            <div *ngFor="let user of users" class="calendar-side-item">
                <div class="calendar-item-title">{{user.name}}</div>
            </div>
        </div>
        <div class="calendar-body" infiniteScroll (scrolled)="onScrollEnd()" (scrolledUp)="onScrollUp()"
             [scrollWindow]="false" [horizontal]="true" infiniteScrollDisabled="true">
            <div *ngFor="let day of daysToShow" class="calendar-day">
                <div class="calendar-day-head">
                    <div class="calendar-day-name">{{day.dayName}}</div>
                    <div class="calendar-day-date">{{day.date}}</div>
                </div>
                <div class="calendar-day-body">
                    <div *ngFor="let user of users" class="calendar-user-day">
                        <div *ngFor="let load of day.workloads[user.id]" class="calendar-user-load"
                             [ngStyle]="{background: projObj[load.projectId].color}" title="{{projObj[load.projectId].name}}">
                            {{projObj[load.projectId].shortName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="calendar-footer">
            <button md-raised-button color="primary" (click)="onScrollUp()">
                Load previous
            </button>
            <button md-raised-button color="primary" (click)="onScrollEnd()">
                Load next
            </button>
        </div>
    </div>
</md-card>
